.wrapper{
  max-width:600px;
  margin:0 auto;
}

article, aside{
 width:50%;
 float:left;
 height:200px;
}

article{
  background:yellow;
}

aside{
  background:green;
  text-align:center;
}

button{
  position:relative;
  top: 50%;
}

@media (max-width: 400px){
  article, aside{
   width:100%;
  }
}
